.builder-wrapper {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--primary-builder-color) 0 62%,
    black 62% 100%
  );
  position: relative;
  padding-top: 35vh;

  .builder-card {
    position: relative;
    background: var(--background-builder-color);
    min-height: 25vh;
    padding-top: 45px;

    .profile-picture {
      position: absolute;
      z-index: 2;
      width: 230px;
      height: 230px;
      object-fit: cover;
      top: -200px;
      left: 50%;
      transform: translateX(-50%);
      border: 10px solid var(--secondary-builder-color);
    }

    label {
      font-weight: bold;
      font-size: 17px;
      color: var(--font-builder-color);
    }

    .form-control {
      border-radius: 5px;
      border: 0.1px solid #a3a3a3ac;
      background-color: transparent;
      color: var(--font-builder-color);
    }

    .form-control:focus {
      border: 0.1px solid #a3a3a3ac;
      box-shadow: none;
    }

    .accordion {
      .accordion-item {
        background-color: #f8f9fa !important;
        background: transparent !important;
        border: none;
        padding: 0;
      }

      .accordion-collapse {
        background-color: transparent !important;
      }

      .accordion-body {
        border-radius: 8px;
        border: 0.1px solid #a3a3a3ac;
        background-color: transparent;
        color: #292929;
        margin-top: 10px;

        label {
          font-weight: 600 !important;
          font-size: 16px !important;
        }
      }

      .accordion-button {
        --bs-accordion-btn-bg: transparent;
        --bs-accordion-active-bg: transparent;
        --bs-accordion-active-color: #212529;

        background-color: transparent !important;
        color: var(--font-builder-color) !important;
        font-weight: 700;
        font-size: 17px;
        padding: 10px 5px 10px 0;

        &::after {
          background-image: none;
          background-color: var(--font-builder-color);
          mask-image: var(--bs-accordion-btn-icon);
          -webkit-mask-image: var(--bs-accordion-btn-icon);
          mask-repeat: no-repeat;
          -webkit-mask-repeat: no-repeat;
          mask-position: center;
          -webkit-mask-position: center;
          mask-size: contain;
          -webkit-mask-size: contain;
        }
      }

      .accordion-button:focus,
      .accordion-button:hover {
        background: transparent !important;
        background-color: transparent !important;
        color: var(--font-builder-color) !important;
        box-shadow: none !important;
        -webkit-tap-highlight-color: transparent;
      }

      .accordion-button:not(.collapsed) {
        box-shadow: none !important;
      }
    }
  }
  .builder-card::before {
    content: "";
    position: absolute;
    top: -80px;
    left: -10%;
    width: 120%;
    height: 160px;
    background: var(--background-builder-color);
    border-radius: 50% 50% 0 0;
  }
}
