.toast-container {
  width: auto;
  max-width: 100%;

  .toast {
    max-width: 400px;
    margin: 20px auto;
    background: var(--bs-secondary-text-emphasis);
    color: white;
    border-radius: 8px;
    border: none;
  }

  .toast-body {
    padding: 15px;
    color: white;
    font-size: 15px;
  }
}
