.toast-container {
  position: fixed !important;
  left: 50% !important;
  bottom: 20px !important;
  top: auto !important;
  right: auto !important;

  transform: translateX(-50%) !important;

  min-width: 350px !important;
  max-width: calc(100% - 40px);
  padding: 0 !important;

  z-index: 99999 !important;

  .toast {
    width: auto;
    max-width: 400px;
    margin: 20px auto;
    background: var(--bs-secondary-text-emphasis);
    color: white;
    border-radius: 8px;
    border: none;
  }

  .toast-body {
    padding: 15px;
    color: white;
    font-size: 15px;
  }
}
