:root {
  /* Declare your global colors */
  --primary-color: #ffa01a;
  --primary-font-color: #484848;
  --secondary-font-color: #8b8a8a;
  --accent-color: #ffca2c;
  --bg-dark: #212529;
  --secondary-color: #fdd7a3;
  --background-color: #ffffff;
  --font-color: #9e9e9e;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  background: #000;
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden !important;
  font-family: "Afacad", sans-serif;
  font-size: 18px !important;
  background: #000;
}

body.modal-open {
  padding-right: 0 !important;
}

#root {
  background: #fff;
  min-height: 100dvh;
}
/*  */
.floating-btn {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: #95b12f;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.4s;
}

.floating-btn i {
  font-size: 24px;
  color: white;
  line-height: 0;
}

.floating-btn:hover {
  background-color: color-mix(in srgb, #a5c926, transparent 20%);
  color: white;
}

.floating-btn.active {
  visibility: visible;
  opacity: 1;
}

header .navbar {
  background-color: #fff !important;
  border-bottom: 1px solid #e0e0e0;
}
header .navbar .nav-link {
  color: var(--primary-font-color) !important;
  font-weight: 500;
}
header .navbar {
  color: var(--primary-font-color) !important;
  font-weight: 500;
}
header .navbar-toggler {
  border: 1px solid #c7c6c6 !important;
}

.navbar-toggler i {
  color: #b0b0b0 !important;
}

/*  */

.modal-content {
  background-color: #8b8b8b4c;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.btn {
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  min-width: 130px;
  font-weight: 600;
}
.btn-primary {
  background: var(--primary-color);
  color: white;
  border: none;
}

.btn-primary:focus,
.btn-primary:hover {
  background: var(--primary-color) !important;
}

.btn-secondary {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-secondary:focus,
.btn-secondary:hover {
  background: none !important;
  color: var(--primary-color);
  border: 1px solid var(--primary-color) !important;
  box-shadow: none;
}
